.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}
.button{
  font:24px;
}
a {
  text-decoration: none;  
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}
input {
  border: none;
}
.login-form{
  display:flex;
  flex-direction: column;
  align-self:center;
  width: 40%;
}
.signInButton{
  background-color: green;
  color:white;
  font-size:20px;
  padding: 20px;
  align-self:center;
}
.menu{
  display:flex;
  margin: 20px;
}
.menuItem{
  border: 1px solid #DDD;
  height: 100px;
  width: 20vw;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.menuItem :hover{
  color: green;
  border-top-color: green; 
}
i{
  transform: scale(2);
}